header {
    height: $height;
    color: $color_header;
    background-color: $bg_header;
    padding: $font_size;
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
        font-size: $font_size * 2;
        padding-right: $font_size;
    }
}
